<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&family=Sedgwick+Ave+Display&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../public/favicon.png" />
    <link rel="stylesheet" href="../styles/articleView.css" />
    <link rel="stylesheet" href="../styles/responsive.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>GENANGAN</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="../public/logo/logo-genangan.png" alt="Logo Genangan" />
        </div>
        <div id="menu-icon" class="menu-icon">
          <i class="ph-fill ph-list"></i>
        </div>
        <ul id="menu-list" class="hidden">
          <li>
            <a href="../index.html">Home</a>
          </li>
          <li>
            <a href="../articlePage.html">Article</a>
          </li>
          <li>
            <a href="../forumPage.html">Forum</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="heading">
          <h1 class="article-title">
            Bangun Rumah Panggung atau Lebih Tinggi dari Jalan
          </h1>
          <div class="label"></div>
        </div>
        <div class="content-view">
          <div class="article-image">
            <img
              src="../public/images/4rumah-tinggi.jpg"
              alt="Gambar Rumah Tinggi"
            />
          </div>
          <div class="article-text">
            <p>
              Adapun cara menghindari banjir yang seharusnya dilakukan sejak
              dini, yaitu membangun rumah panggung atau lebih tinggi dari
              permukaan jalan. Tips ini berlaku bagi Anda yang hendak mencari
              tempat tinggal, namun terpaksa harus berada di lingkungan
              langganan atau rawan banjir. Membangun rumah panggung atau lebih
              tinggi dari jalan dapat meminimalisir risiko air masuk rumah
              terlalu banyak. <br /><br />
              Jadi meminimalisir pula risiko merusak perabot dan elektronik di
              dalam rumah. Bayangkan jika tinggi airnya 100 cm, tetapi tinggi
              bagian bawah rumah Anda adalah 150 cm, maka air pun dipastikan
              tidak sampai masuk.<br /><br />
              Proses meninggikan rumah memang membutuhkan waktu tidak sebentar
              dan biaya yang dikeluarkan pun lumayan besar. Namun cara ini
              termasuk paling ampuh untuk mencegah air masuk rumah dan
              menenggelamkan isi di dalamnya. Anda bisa bertanya pada tukang di
              sekitar domisili Anda terkait cara membuat rumah jadi lebih tinggi
              dari permukaan jalan.<br /><br />
              Bencana banjir sangat susah dihindari. Maka dari itu, sebaiknya
              kita perlu melakukan tindakan pencegahan sejak dini. Cara paling
              mudahnya, yakni usahakan tidak membuang sampah sembarangan, rajin
              membersihkan selokan maupun sungai, serta memperbanyak pepohonan
              di lingkungan sekitar.
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer__article">
      <p>@Copyright-Genangan-2023</p>
    </footer>
    <script src="../scripts/index.js"></script>
  </body>
</html>
