<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1160b9" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&family=Sedgwick+Ave+Display&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      href="../public/icons/manifest-icon-512.maskable.png"
    />
    <link rel="manifest" href="../public/manifest.json" />
    <link rel="icon" href="../public/favicon.png" />
    <link rel="stylesheet" href="../styles/articleView.css" />
    <link rel="stylesheet" href="../styles/responsive.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>GENANGAN</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="../public/logo/logo-genangan.png" alt="Logo Genangan" />
        </div>
        <div id="menu-icon" class="menu-icon">
          <i class="ph-fill ph-list"></i>
        </div>
        <ul id="menu-list" class="hidden">
          <li>
            <a href="../index.html">Home</a>
          </li>
          <li>
            <a href="../articlePage.html">Article</a>
          </li>
          <li>
            <a href="../forumPage.html">Forum</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="heading">
          <h1 class="article-title">Membuat Taman di Rumah</h1>
          <div class="label"></div>
        </div>
        <div class="content-view">
          <div class="article-image">
            <img src="../public/images/2taman.jpg" alt="Gambar Taman" />
          </div>
          <div class="article-text">
            <p>
              Genangan air dan banjir adalah suatu permasalahan yang terjadi
              ketika memasuki musim penghujan. Terkadang hal tersebut membuat
              kita sebagai pemilik rumah menjadi resah. Untuk itu kami
              memberikan beberapa cara agar dapat meminimalisir terjadinya
              genangan air dan banjir yang terjadi di sekitar area rumah anda.
              Seperti memanfaatkan lahan sempit maupun luas di teras. <br />
              <br />
              Hal ini dapat dijadikan space green di area rumah untuk kita
              maksimalkan dengan menanam pepohonan. Selain itu, sirkulasi udara
              menjadi sangat baik di rumah anda. <br /><br />
              Cara mengatasi banjir dengan memperbanyak pohon mungkin
              kedengarannya klasik, padahal dapat dilakukan dengan cara yang
              lebih sederhana. Adanya pepohonan maupun tanaman lainnya mampu
              mencegah banjir karena memiliki akar yang mampu menyerap air
              dengan baik. Sebaliknya jika tak ada tumbuh-tumbuhan atau vegetasi
              apapun di atas tanah, penyerapan jadi kurang baik dan berakibat
              air susah tertampung karena tidak adanya akar yang menahan laju
              air.<br /><br />
              Membuat sebuah taman kecil yang berisi berbagai macam tanaman,
              tujuannya tak hanya menghindari banjir, tetapi juga menambah
              estetika pada lingkungan sekitar rumah. Contoh pohon yang dapat
              ditanam dan mampu memberikan banyak manfaat, misalnya mangga,
              jambu, cempedak, akar wangi, dan lain sebagainya.
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer__article">
      <p>@Copyright-Genangan-2023</p>
    </footer>
    <script src="../scripts/index.js"></script>
  </body>
</html>
