<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1160b9" />
    <meta name="dicoding:email" content="paturdiwantoro079@gmail.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&family=Sedgwick+Ave+Display&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      href="../public/icons/manifest-icon-512.maskable.png"
    />
    <link rel="manifest" href="../public/manifest.json" />
    <link rel="icon" href="../public/favicon.png" />
    <link rel="stylesheet" href="../styles/articleView.css" />
    <link rel="stylesheet" href="../styles/responsive.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>GENANGAN</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="../public/logo/logo-genangan.png" alt="Logo Genangan" />
        </div>
        <div id="menu-icon" class="menu-icon">
          <i class="ph-fill ph-list"></i>
        </div>
        <ul id="menu-list" class="hidden">
          <li>
            <a href="../index.html">Home</a>
          </li>
          <li>
            <a href="../articlePage.html">Article</a>
          </li>
          <li>
            <a href="../forumPage.html">Forum</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="heading">
          <h1 class="article-title">Gotong Royong Mencegah Banjir</h1>
          <div class="label"></div>
        </div>
        <div class="content-view">
          <div class="article-image">
            <img
              src="../public/images/1gotong-royong.jpg"
              alt="Gambar Gotong Royong"
            />
          </div>
          <div class="article-text">
            <p>
              Bencana banjir merupakan salah satu bencana yang sudah akrab
              ketika memasuki musim penghujan. Beberapa daerah di Indonesia
              menjadi daerah langganan banjir. Oleh sebab itu kita sebagai
              masyarakat harus bisa mencegahnya. Pemberitahuan terkait
              pentingnya menjaga lingkungan merupakan hal yang perlu
              diperhatikan oleh warga untuk bisa mencegah banjir. <br /><br />
              Banjir terjadi bukan hanya hujan deras. Namun terjadi juga karena
              faktor manusia seperti tidak membuang sampah sembarangan dan tidak
              menjaga saluran air sehingga memperparah kondisi banjir yang
              terjadi. Salah satu langkah untuk meningkatkan kesadaran
              masyarakat dalam menjaga lingkungan agar bisa mencegah terjadinya
              banjir adalah melakukan sosialisasi. <br />
              <br />
              Masyarakat di lingkungan sekitar bisa diarahkan oleh ketua RT
              setempat untuk melakukan gotong royong seminggu sekali. Contoh
              kegiatan yang dapat dilakukan ialah membersihkan saluran air.
              Banjir bisa terjadi karena saluran air yang tidak bekerja sesuai
              fungsinya. Hal tersebut bisa terjadi karena rusak atau mampet
              karena sampah. Saluran air yang langsung terhubung ke sebuah
              sungai biasanya rentan tertutup sampah dan sangat berbahaya jika
              terjadi hujan deras karena air akan meluap. Oleh sebab itu tidak
              ada salahnya untuk gotong royong bersama tetangga untuk
              membersihkan saluran air. Sehingga nanti saat hujan air akan
              mengalir dan tidak tertahan yang menjadi penyebab utama banjir.
              Pembersihan tersebut harus dilakukan secara berkala. <br /><br />
              Perbaikan dan pembersihan saluran air tentu harus ada. Di wilayah
              tertentu bisa diadakan secara gotong royong. Penjagaan ini harus
              dilakukan secara terus menerus dengan waktu berkala. Hal ini
              bertujuan agar saat terjadi hujan deras, tidak menimbulkan saluran
              air mampet yang justru berpotensi pada hadirnya banjir.
              <br /><br />
              Berikutnya, ketua RT masing-masing dapat menyerukan kepada
              masyarakat untuk disiplin membuang sampah. Bila kerjasama antar
              warga terjalin dengan baik, pencegahan banjir bisa dilakukan
              dengan mudah. Tentu saja jalinan warga dan pemerintah tetap harus
              dilakukan. Bila ada pembangunan di suatu wilayah oleh proyek
              tertentu dan hal itu akan mengganggu lancarnya saluran air, tentu
              warga harus segera melaoprkan ke pemerintah untuk diadakan sebuah
              tindakan yang tepat.
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer__article">
      <p>@Copyright-Genangan-2023</p>
    </footer>
    <script src="../scripts/index.js"></script>
  </body>
</html>
