<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&family=Sedgwick+Ave+Display&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../public/flood.png" />
    <link rel="stylesheet" href="../styles/articleView.css" />
    <link rel="stylesheet" href="../styles/responsive.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>GENANGAN</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="../public/logo/logo-genangan.png" alt="Logo Genangan" />
        </div>
        <div id="menu-icon" class="menu-icon">
          <i class="ph-fill ph-list"></i>
        </div>
        <ul id="menu-list" class="hidden">
          <li>
            <a href="../templates/homePage.html">Home</a>
          </li>
          <li>
            <a href="../templates/articlePage.html">Article</a>
          </li>
          <li>
            <a href="../templates/forumPage.html">Forum</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="heading">
          <h1 class="article-title">
            Tumpuk Karung Pasir Dekat Sungai/Selokan
          </h1>
          <div class="label"></div>
        </div>
        <div class="content-view">
          <div class="article-image">
            <img src="../public/images/3tanggul.jpg" alt="Gambar Tanggul" />
          </div>
          <div class="article-text">
            <p>
              Cara mengatasi banjir juga dapat dilakukan dengan menumpuk karung
              pasir di pinggir sungai ataupun selokan. Apabila menerapkan cara
              seperti ini, air tidak langsung meluap ke daratan. Akan tetapi
              menyerap ke pasir terlebih dahulu, sehingga pergerakannya ke
              pemukiman jadi lebih lambat karena terdapat penghalang tersebut,
              maka gunakanlah karung berisi pasir penuh, usahakan tidak bolong.
              <br /><br />
              Supaya air tidak mudah merembes. Letakkan beberapa tumpuk sesuai
              kebutuhan di sepanjang sungai maupun selokan yang mudah meluap
              airnya. <br /><br />
              Meski tampak sederhana, membuat tanggul dengan kantung-kantung
              berisi pasir terbukti efektif menghalau air masuk ke dalam rumah.
              Sebenarnya, tanggul berfungsi untuk mengalihkan aliran air. Meski
              sementara, air tidak bisa masuk ke dalam rumah. Akan tetapi,
              karena sifatnya sementara, tetap saja air tersebut pun harus
              dialirkan melalui selokan. Agar upaya pencegahan banjir efektif,
              gunakan metode yang tepat. Metode tepat tidak hanya menghemat
              waktu, namun juga mampu membuat pekerjaan lebih efektif.
              <br /><br />
              Terkait pembuatan tanggul di depan rumah, ada baiknya
              memperhatikan metode yang dirilis California Department of Water
              Resources dan California Conservation Corps. Kedua lembaga
              tersebut, memberikan instruksi lengkap mengenai cara pembuatan
              tanggul. Anda hanya perlu mengisi karung dengan pasir atau tanah
              dan menempatkannya dengan tepat. Membuat tanggul setidaknya
              membutuhkan dua orang. Satu orang untuk memegang karung agar tetap
              terbuka, sementara satu orang lainnya memasukkan pasir ke dalam
              karung. Isilah hanya sepertiga karung. Usahakan menggunakan karung
              goni dengan anyaman rekat. Lipat sisa karung yang tidak terisi
              menjadi bentuk segitiga. Hal ini membuat pasir tidak mudah bocor.
              <br /><br />
              Kemudian, tata karung-karung tersebut dan pastikan Anda membuat
              karung-karung tersebut saling tumpang tindih. Selain itu, pastikan
              juga sisi yang terlipat (yang tidak terbuka) menghadap arah datang
              air. Tindih bagian lipatan dengan karung lain, dan ulangi hingga
              mencapai ketinggian yang Anda inginkan. Selain membuat tanggul,
              pastikan juga selokan di sekitar rumah Anda tidak dipenuhi oleh
              tanah dan sampah. Pasalnya, air tetap harus mengalir dan hal
              tersebut tidak akan mungkin jika selokan penuh dengan sampah.
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer__article">
      <p>@Copyright-Genangan-2023</p>
    </footer>
    <script src="../scripts/app.js"></script>
  </body>
</html>
