<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&family=Sedgwick+Ave+Display&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../styles/articleView.css" />
    <link rel="stylesheet" href="../styles/responsive.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>GENANGAN</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="../public/logo/logo-genangan.png" alt="Logo Genangan" />
        </div>
        <div id="menu-icon" class="menu-icon">
          <i class="ph-fill ph-list"></i>
        </div>
        <ul id="menu-list" class="hidden">
          <li>
            <a href="../templates/homePage.html">Home</a>
          </li>
          <li>
            <a href="../templates/articlePage.html">Article</a>
          </li>
          <li>
            <a href="../templates/forumPage.html">Forum</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="heading">
          <h1 class="article-title">Reboisasi</h1>
          <div class="label"></div>
        </div>
        <div class="content-view">
          <div class="article-image">
            <img src="../public/images/6reboisasi.jpg" alt="Gambar Reboisasi" />
          </div>
          <div class="article-text">
            <p>
              Reboisasi merupakan salah satu bentuk kepedulian manusia terhadap
              alam yang perlu dilakukan karena jika tidak maka alam bisa saja
              menjadi rusak. Sebagai salah satu generasi muda dunia, harus
              memberikan aksi nyata dengan melakukan reboisasi ini. reboisasi
              sebenarnya tidak hanya bisa dilakukan di area hutan saja namun
              juga bisa dilakukan di dalam lingkungan sekitar dengan membuka
              lahan hijau. <br /><br />
              Manfaat protektif, manfaat pohon salah satunya juga bisa digunakan
              sebagai pelindung terutama untuk manusia. Pelindung di sini adalah
              bisa menahan angin kencang, sinar matahari secara langsung,
              peredam suara dan penahan debu. Manfaat lainnya adalah dapat
              melindungi manusia dari terjangan banjir, erosi dan tanah
              longsor.<br /><br />
              Kurangnya resapan air disebabkan oleh kurangnya pohon di daerah
              tersebut yang biasanya disebabkan oleh penebangan yang tidak
              terkendali. Oleh karena itu, sistem tebang pilih perlu digunakan
              terutama untuk menanam pohon berakar besar agar penyerapan air
              bisa lebih cepat. Selain itu untuk di wilayah perkotaan juga perlu
              diperbanyak kawasan atau lahan terbuka hijau.<br /><br />
              Pohon yang telah ditebang sebaiknya ada penggantinya. Menebang
              pohon yang telah berkayu kemudian di tanam kembali tunas pohon
              yang baru. Hal ini ditujukan untuk regenerasi hutan dengan tujuan
              hutan tidak menjadi gundul.
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer__article">
      <p>@Copyright-Genangan-2023</p>
    </footer>
    <script src="../scripts/app.js"></script>
  </body>
</html>
